#register {
    margin-top: 10px;
    height: 670px;
    background: black;
}

#register #welcome {
    width: 800px;
    height: 140px;
    margin: 0 auto;
}

#register #welcome .welcomeSpan {
    float: left;
    width: 200px;
    height: 100%;
    font-family: "黑体";
    color: black;
    font-size: 140px;
    text-align: center;
    line-height: 140px;
}

#register #main {
    margin: 0 auto;
    background: white;
    width: 800px;
}

#register #main #form {
    margin: 0 auto;
}

#register #main #form table {
    width: 800px;
    margin: 0 auto;
}

#register #main #form table tr {
    height: 60px;
}

#register #main #form table .first {
    width: 100px;
    text-align: left;
    padding: 0 0 0 40px;
}

#register #main #form table .second {
    width: 380px;
    text-align: left;
    padding: 0 0 0 20px;
}
}

#register #main #form table .third {
    width: 320px;
    text-align: left;
    padding: 0 0 0 40px;
}

#register #main #form table .second input {
    border: 1px solid #89DDFF;
    border-radius: 5px;
    padding-left: 5px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
}

#register #main #form table .third input {
    border: 1px solid #89DDFF;
    border-radius: 5px;
    padding-left: 5px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    width: 120px;
    font-size: 15px;
}

#register #main #form table #text {
    font-size: 18px;
    text-align: center;
    padding: 0;
}

#register #main #form table #send {
    border: 1px solid #89DDFF;
    border-radius: 5px;
    padding-left: 5px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    width: 90px;
    font-size: 15px;
}

#register #main #form #commit {
    height: 200px;
    background: #89DDFF;
}

#register #main #form #commit input {
    height: 100px;
    background: #BD92EA;
    width: 240px;
    font-family: "微软雅黑";
    font-size: 60px;
    text-align: center;
    line-height: 100px;
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 15px;
}