#master {
    width: 990px;
    margin-top: 10px;
    font-family: "黑体";
    font-size: 80px;
    background: black;
    color: #67D8EF;
    position: relative;
}

#master #left {
    width: 650px;
    display: inline-block;
    height: 92px;
    z-index: -10;
}

#master #master_left_down {
    color: #67D8EF;
    font-family: "黑体";
    font-size: 30px;
    height: 34.8px;
}