<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="/static/js/ckeditor/ckeditor.js"></script>
    <title>发表博客</title>
</head>

<body>
    {% extends 'index.html' %}
    {% block struct %}
    <form action="/writetopic" method="POST">
        <input type="text" name="tittle">文档标题
        <select name="category">
            {% for i in params.categories %}
            <option selected value="{{i.id}}"
            {%if loop.last %}
            selected
            {% endif %}
            >
                {{i.categoryName}}
            </option>
            {% endfor %}
        </select>
        <textarea id="content" name="content"></textarea>
        <script>
            var editor = CKEDITOR.replace('content');
        </script>
        <input id="write" type="submit" value="发表文章">
    </form>
    {% endblock %}
</body>

</html>